extends layout

block content
  h1=title
  div(id='leftblock')
    | Enter your name:
    br
    input(class="customer", type="text)
    br
    | Select Ingredients:
    br
    for ingredient, i in ingredients
      input(class="ingr_checkbox", type='checkbox', name=ingredient.name, id="newinput", cost=ingredient.cost) 
      | #{ingredient.name}: #{ingredient.cost} dollars
      br
    button#submit_button(type="button") 
      | Place Order
    a(href='/order')
      button(type='button')
        | Return to Orders