extends layout

block content
  h1= title
  div(id='leftblock') Orders Placed
    div
      if (typeof orders !== 'undefined' && orders.length > 0)
        for order, i in orders
          div
            p(class='confirm_p', ID=order._id) #{order.customer}'s Order:
              button(type='submit', class='confirm_order', ID=order._id) Submit Order
      else
        p No orders in the database!
    form(method="get", action="/orders/new")
      button(type='submit') Add a new Order!

  div(id='rightblock')
    div
      if (typeof ingredients !== 'undefined' && ingredients.length > 0)
        table(border="1")
          thead
            tr
              th Ingredient
              th Cost
          tbody            
            for ingredient, i in ingredients
              tr(value=ingredient)
                td #{ingredient.name}
                td #{ingredient.cost}
      else
        p No ingredients in the database!
    form(method='get', action='/ingredient/new')
      button(type='submit') Add an Ingredient!    